<div mat-dialog-content>
    <h1>Adicionar departamento</h1>
        <form [formGroup]="DepartamentoForm">
            <mat-form-field appearance="outline">
                <mat-label>Nome do Departamento</mat-label>
                <input formControlName="name" matInput placeholder="Nome"  />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Descrição</mat-label>
                <input formControlName="description" matInput placeholder="Descrição" />
            </mat-form-field>
            <div mat-dialog-action [align]="'end'">
                <button mat-raised-button color="warn" mat-dialog-close>Fechar</button>
                <button style="margin-left: 8px" mat-raised-button color="primary" (click)="AddDepartamento()">{{actionBtn}}
                </button>
            </div>
        </form>
    </div>
    