<ngb-carousel>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="assets/img_1.jpg" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h2>Gerencie departamentos empresariais e funcinários em tempo real!</h2>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="assets/img_2.jpg" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h2>Contamos com profissionais capacitados, para auxiliar no Suporte técnico!</h2>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="assets/img_3.jpg" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h2>Clique no botão abaixo para gerenciar!</h2>
		</div>
	</ng-template>
</ngb-carousel>