<div class="all">
    <nav class="fixed-top">
       <ul>
           <li>
               <a routerLink="/dashboard" class="logo">
                   <img src="assets/logo.png" alt="">
                   <span class="nav-item">SmartON</span>
               </a>
           </li>
           <li>
               <a routerLink="/dashboard">
                   <i class="bi bi-house-door-fill"></i>
                   <span class="nav-item">Home</span>
               </a>
           </li>
           <li>
               <a routerLink="/departamentos">
                   <i class="bi bi-list-task"></i>
                   <span class="nav-item">Departamentos</span>
               </a>
           </li>
           <li>
               <a routerLink="/funcionários">
                   <i class="bi bi-person-fill"></i>
                   <span class="nav-item">Funcionários</span>
               </a>
           </li>
           <li>
               <a routerLink="/dashboard" class="logout">
                <i class="bi bi-box-arrow-in-right"></i>
                <span class="nav-item">Log out</span>
            </a>
           </li>
       </ul>
   </nav>
</div>



