<div class="all">
    <footer>
        <div class="footer">
            <div class="links content">
                <img src="assets/img.png">
                <p>SmartOn</p>
            </div>
            <div class="links content">
                <h2>Início</h2>
                <ul>
                    <li><a routerLink="/dashboard" >Home</a></li>
                    <li><a routerLink="/departamentos" >Deparamentos</a></li>
                    <li><a routerLink="/funcionários" >Funcionários</a></li>
                </ul>
            </div>
            <div class="links content">
                <h2>Empresa</h2>
                <ul>
                    <li><a routerLink="#" >Sobre nós</a></li>
                    <li><a routerLink="#" >Nossos serviços</a></li>
                    <li><a routerLink="#" >Política de privacidade</a></li>
                    <li><a routerLink="#" >Suporte</a></li>
                </ul>
            </div>
            <div class="about content">
                <h2>Siga-nos</h2>
                <div class="social">
                    <a routerLink="#" ><i class="fa fa-facebook"></i></a>
                    <a routerLink="#" ><i class="fa fa-instagram"></i></a>
                    <a routerLink="#" ><i class="fa fa-twitter"></i></a>
                    <a routerLink="#" ><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>
            <div class="copyright">
                <ul>
                    <li class="text">
                        &copy; SmartON - 2023
                    </li>
                </ul>
            </div>
        </div>
       
    </footer>
</div>